.section1
{
    
    justify-content: center;
    height:500px;
    width:500px;
    padding-left:20px;
    margin-top:150px;
    margin-left:400px;
}

.table{
    border:5px solid blueviolet;
    font-family: 'Times New Roman', Times, serif;
}
.storehead
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0DE291;
    font-weight: bold;
}
.storehead h3{
    color:darkblue;
    padding-left: 20px;
}