.contact
{
    border : 3x solid rgb(225, 10, 10);
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    padding-top:20px;
}
.storehead
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0DE291;
    font-weight: bold;
}
.storehead h3{
    color:darkblue;
    padding-left: 20px;
}
